
/*
Variables
*/
$colorBase: #000000;
$colorParrafo: #026670;
$colorHeader:#080808;
$colorGradienteUno:#b36e6e;
$colorGradienteDos:#d13531;
$colorBackgroundNav: black;    
$color1:#13BE7E;
$color2:#14C384;
$color3:#920193;
$color4:#900201;
$color5:#00719F;
$bs-body-color:var(--colorBase);
