.box {
    border-radius: 6px;
    height: 40px;
    width: 80px;
    margin: 50px auto;
}

.box1 {
    background-color: mediumaquamarine;
}

.box2 {
    background-color: mediumpurple;

        /*property + duration*/
       /* transition-property: all;*/
        transition-duration: 2s;
    
        /* resumen*/
        transition: all 2s;
}

.box:hover{
    transform: scale(4);
}

.circle1, .circle2, .circle3, .circle4 ,.circle5{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
}


.circle1{
    background-color: mediumpurple;
    transition: all 1.5s linear;
}
.circle2{
    background-color: mediumseagreen;
    transition: all 1.5s ease-in;
}
.circle3{
    background-color: mediumturquoise;
    transition: all 1.5s ease-out;
}
.circle4{
    background-color: mediumvioletred;
    transition: all 1.5s ease-in-out;
}
.circle5{
    background-color: moccasin;
    transition: all 1.5s ease;
}

.container-circle:hover * {
    transform: translateX(400px)
}


.square1, .square2{
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin: 100px;
    position: absolute;
}

.square1{
    background-color: teal;
}

.square2{
    background-color: steelblue;
}

.square2:hover{
    transform: translate(20px,20px);
}

.skew{
    background-color: tomato;
    height: 160px;
    width: 100px;
    margin: 50px auto;
    transition: ;
}
.skew:hover{
    transform:skew(20deg);
}

.combinado{
    background-color: violet;
    height: 75px;
    width: 75px;
    margin: 50px;
    transition: all 2s;
}
.combinado:hover {
    transform: rotate(90deg) scale(2) translateX(120px);
    -webkit-transform: rotate(90deg) scale(2) translateX(120px);
    -o-transform: rotate(90deg) scale(2) translateX(120px);
    -moz-transform: rotate(90deg) scale(2) translateX(120px);
}

.animaciones{
    width: 120px;
    height: 120px;
    background-color: yellow;
}

.animaciones:hover {
    animation: changeColor 4s ;


    /* animation-name
    animation-duration
    */

}

/* Regla - Fotogramas de una animación */

@keyframes changeColor{
    0%{
        background-color: teal;
    }

    15%{
        background-color: tomato;
        border-radius: 50%;
    }

    25%{
        background-color: thistle;
        width: 400px;
    }
    50%{
        position: relative;
        top: 20px;
        left:20px
    }
    100%{
        background-color: black;
    }
 
    

}