@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

body{
    background-color:#edeae5;
    background-image: url("../images/back.jpg");
    background-size: cover;
    text-align: center;

}

p{
    color:#026670;
    font-family: 'Alegreya', serif;
    font-size: medium;
    font-style: normal;
    word-spacing: 0.01em;
}
h1{
    font-style: oblique;

}

.l{
    float: right;
    width: 50%;
    }

header nav ul li  {
    color:#545E75;
    font-family: 'Alegreya', serif;
    text-align: right;
    font-size: 20px;
    list-style-type: none;
    display: inline;
    text-align: right;
    padding: 10px;
    margin-top: 10px;
    background-color:darkgrey;
   }

