h1,p{
    background-color: #dde0e3;
}

em{
    background-color: #b2d6ff;

}

h1{
    /* padding: 40px;*/
    padding-top: 40;
    padding-right: 8px;
    padding-bottom: 80px;
    padding-left: 200px;
    padding: 40px 148px 16px 4px;

    /* Border */

    border: 10px solid black;
   border-bottom: 1px solid black;
   border-radius: 10px;
}

footer{
    background-color: darkolivegreen;
}